body {
  text-align: center;
  background-color: aquamarine;

  font-family: Oxygen, sans-serif;
}

.container {
  width: 50vw;

  margin: 0 auto;
}

button {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  cursor: pointer;
}
